$default: #fff;
$text: #031412;
$background-image: #C4C4C4;
$sale: #9B0000;
$span: #E4A16F;
$btn: #B3B9B8;




%mont_extralightdemo-400 {
    font-family: "mont_extralightdemo";
    font-weight: 400;
}

%mont_heavydemo-600 {
    font-family: "mont_heavydemo";
    font-weight: 600;
}

%Lighthaus-400 {
    font-family: "Lighthaus";
    font-weight: 400;
}