@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

// index.html-----------------------------------------------

.header {
    position: relative;
    background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
    &__wrapper {
        background: no-repeat url(../images/vector-fon.png);
        background-size: cover;
    }
    .logo {
        padding-top: 45px;
        &__img {
            max-width: 160px;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        max-width: inherit;
        width: 95%;
        z-index: 2;
        position: absolute;
        top: 0;
        margin: 0 auto;
    }
    &__top-page {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        padding-top: 65px;
        padding-bottom: 55px;
        z-index: 5;
        &__btn {
            display: none;
        }
        &__list {
            display: flex;
        }
        &__list-item {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__list-link {
            @extend %mont_heavydemo-600;
            font-size: 16px;
            line-height: 15px;
            color: $default;
            transition: all ease-out 0.3s;
            &:hover {
                border-bottom: 1px solid #e4a16f;
                background: linear-gradient(92.09deg, #5e3928 -79.4%, #e4a16f 84.12%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #5e3928;
            }
        }
        .user-nav {
            display: none;
        }
    }
    .user-nav {
        display: flex;
        margin-right: 20px;
        &__item {
            width: 50px;
            height: 75px;
            background: #fff;
            margin-right: 20px;
            padding: 35px 10px 0 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__item a {
            display: block;
            height: 100%;
        }
        &__link {
            position: relative;
        }
        &__nam {
            position: absolute;
            top: -25px;
            right: 10px;
            color: $span;
            font-size: 25px;
            line-height: 24px;
            @extend %mont_heavydemo-600;
        }
        &__svg {
            transition: all ease-out 0.3s;
            &:hover {
                fill: #5e3928;
            }
        }
    }
}

.top-slider {
    margin-bottom: 80px;
    &__item {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        position: relative;
        &::before {
            content: "COPPER PRO";
            position: absolute;
            font-size: 160px;
            line-height: 120px;
            text-align: end;
            color: $default;
            @extend %Lighthaus-400;
            bottom: 0;
            left: 65%;
            width: 660px;
            height: 240px;
            z-index: -1;
        }
    }
    &__content {
        z-index: 3;
        margin-bottom: 230px;
    }
    &__title {
        margin-bottom: 100px;
        margin-top: 230px;
        color: $default;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 620px;
            height: 2px;
            bottom: -50px;
            left: 0;
            background: right no-repeat url("../images/icons/Line.png");
        }
    }
    &__subtitle {
        max-width: 530px;
        @extend %mont_heavydemo-600;
        font-size: 50px;
        line-height: 48px;
        color: $default;
        margin-bottom: 40px;
    }
    &__price {
        max-width: 325px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__price-text {
        font-size: 30px;
        line-height: 29px;
        color: $default;
    }
    &__price-number {
        @extend %mont_heavydemo-600;
        font-size: 30px;
        line-height: 29px;
        color: $default;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 60%;
        height: 100%;
        object-fit: contain;
        z-index: -2;
    }
    &__img-product {
        position: absolute;
        max-width: 1611px;
        max-width: 890px;
        object-fit: contain;
        top: -25%;
        left: 40%;
        z-index: -1;
    }
}

.products {
    margin-bottom: 80px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item-link {
        transition: all 0.3s;
        &:hover {
            box-shadow: 0px 0px 60px 0px rgba(196, 196, 196, 1);
        }
    }
    &__item {
        max-width: 445px;
        max-height: 490px;
        text-align: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(360deg, rgba(7, 44, 38, 0.5) 30%, rgba(7, 44, 38, 0) 50%);
            z-index: 1;
        }
    }
    &__item-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    &__item-title {
        position: absolute;
        padding: 0 10px;
        width: 100%;
        bottom: 25px;
        font-size: 30px;
        line-height: 29px;
        color: $default;
        @extend %mont_extralightdemo-400;
        font-weight: 600;
        z-index: 2;
    }
}

.sales {
    position: relative;
    background: center url(../images/vector-fon-2.jpg);
    padding: 80px 0;
    margin-bottom: 80px;
}

.novelties {
    position: relative;
    margin-bottom: 80px;
}

.promotions {
    background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
    margin-bottom: 80px;
    position: relative;
    &__wrapper {
        background: top center url(../images/vector-fon.png);
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 800px;
            height: 100%;
            background: no-repeat url(../images/promotions-fon.png);
            z-index: 1;
        }
        &::before {
            content: "COPPER PRO";
            position: absolute;
            font-size: 160px;
            line-height: 120px;
            text-align: end;
            color: $default;
            @extend %Lighthaus-400;
            bottom: 0;
            right: 0;
            width: 660px;
            height: 240px;
            z-index: 3;
        }
    }
    &__inner {
        display: flex;
        padding: 80px 0;
    }
    &__content {
        margin-right: 180px;
        z-index: 3;
    }
    &__title {
        font-size: 140px;
        line-height: 104px;
        color: $default;
        @extend %Lighthaus-400;
        margin-bottom: 50px;
    }
    &__text {
        max-width: 535px;
        font-size: 35px;
        line-height: 33px;
        color: $default;
        margin-bottom: 50px;
        font-weight: 600;
    }
    &__btn {
        margin: 0;
    }
    &__img {
        position: absolute;
        top: -128px;
        right: 600px;
        max-width: 450px;
        z-index: 2;
    }
}

.recommend {
    position: relative;
    margin-bottom: 80px;
}

.discounts {
    position: relative;
    padding: 80px 0;
    margin-bottom: 80px;
    background: center url(../images/vector-fon-2.jpg);
    &__btn {
        padding: 15px 75px;
        margin: 0 auto;
    }
}

.about {
    position: relative;
    margin-bottom: 80px;
    &__title {
        margin-bottom: 0;
    }
    &__top-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__top-btn {
        width: 327px;
        height: 50px;
        padding: 15px 80px;
    }
    .about-slider {
        &__item {
            max-width: 445px;
            padding: 20px 30px;
            margin: 30px 10px 35px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 145px;
                height: 115px;
                background: no-repeat url(../images/icons/99.png);
            }
        }
        &__item-img {
            max-width: 63px;
            max-height: 63px;
            min-height: auto;
            min-height: 63px;
            object-fit: cover;
            margin: 0 0 20px;
        }
        &__item-name {
            font-size: 25px;
            line-height: 24px;
            color: $text;
            margin-bottom: 20px;
        }
        &__item-text {
            font-size: 14px;
            font-style: italic;
            margin-bottom: 20px;
        }
        &__item-date {
            font-size: 14px;
            @extend %mont_heavydemo-600;
        }
        &__arrow {
            top: 52%;
        }
    }
}

.choose-us {
    background: url(../images/vector-fon-2.jpg);
    background-size: cover;
    padding: 80px 0;
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 330px;
        min-height: 230px;
        margin-bottom: 30px;
    }
    &__item-img {
        max-width: 76px;
        max-height: 76px;
        margin-bottom: 25px;
    }
    &__item-title {
        font-size: 20px;
        @extend %mont_heavydemo-600;
        margin-bottom: 15px;
    }
    &__item-text {
        margin-bottom: 15px;
    }
}

.footer {
    background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
    position: relative;
    &__btn {
        padding: 16px 30px 16px 27px;
        position: absolute;
        cursor: pointer;
        bottom: 30px;
        right: 50px;
        transform: rotate(90deg);
        z-index: 5;
    }
    &__wrapper {
        background: url(../images/vector-fon.png);
        background-size: cover;
        position: relative;
        padding: 80px 0 75px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__social-link {
        opacity: 1;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
    .logo__img {
        margin-bottom: 25px;
    }
    &__copyright-text {
        width: 215px;
        color: #adadad;
        margin-bottom: 20px;
    }
    &__copyright-link {
        color: $default;
        text-decoration: underline;
        transition: all 0.3s;
        &:hover {
            color: #cb8d62;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
    }
    &__nav-box {
        margin-right: 135px;
        &:last-child {
            margin-right: 40px;
        }
    }
    &__nav-title {
        font-size: 18px;
        color: $default;
        @extend %mont_heavydemo-600;
        margin-bottom: 15px;
    }
    &__nav-item {
        margin-bottom: 15px;
    }
    &__nav-link {
        color: $default;
        transition: all 0.3s;
        &:hover {
            border-bottom: solid 1px $default;
        }
    }
    &__nav-text {
        width: 135px;
        color: $default;
        margin-bottom: 15px;
    }
    &__nav-contact {
        display: block;
        color: $default;
        margin-bottom: 15px;
        transition: all 0.3s;
        &:hover {
            text-decoration: underline;
        }
    }
    &__social {
        display: flex;
    }
    &__social-img {
        margin-right: 20px;
    }
}

// about-us.html-------------------------------------------

.about-us {
    margin-bottom: 130px;
    &__wrapper {
        background: url("../images/vector-fon-2.jpg");
        background-size: cover;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        max-width: 620px;
        padding: 130px 0 50px;
        margin-bottom: 50px;
        border-bottom: solid 1px $text;
    }
    &__quote {
        max-width: 535px;
        font-size: 50px;
        line-height: 48px;
        font-weight: 600;
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 70px;
        margin-bottom: 35px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 34px;
            height: 34px;
            top: 0;
            left: -70px;
            background-image: url("../images/icons/quote.png");
        }
        &::before {
            content: "";
            position: absolute;
            width: 34px;
            height: 34px;
            bottom: 0;
            right: -15px;
            background-image: url("../images/icons/quote.png");
        }
    }
    &__quote-box {
        display: flex;
        align-items: flex-end;
    }
    &__quote-name {
        margin-right: 45px;
    }
    &__quote-author {
        max-width: fit-content;
        font-size: 30px;
        line-height: 29px;
        @extend %mont_heavydemo-600;
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__quote-signature {
        max-width: 190px;
    }
    &__img {
        max-width: 700px;
        margin-right: -90px;
    }
}

.clients {
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    &__content-title {
        max-width: 310px;
        line-height: 53px;
        margin-bottom: 25px;
        text-align: start;
    }
    &__content-text {
        max-width: 515px;
        font-size: 20px;
        line-height: 25px;
    }
    &__counter-title {
        font-size: 50px;
        line-height: 48px;
        @extend %mont_heavydemo-600;
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__counter-namber {
        font-size: 250px;
        line-height: 240px;
        @extend %mont_heavydemo-600;
        background-image: url("../images/bg-counter-namber.jpg");
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.history {
    &__wrapper {
        background: no-repeat center url("../images/bg-history.jpg");
        background-size: cover;
        position: relative;
        &::before {
            content: "COPPER PRO";
            position: absolute;
            font-size: 153px;
            line-height: 120px;
            color: $default;
            @extend %Lighthaus-400;
            text-align: start;
            bottom: 205px;
            left: -200px;
            width: 660px;
            height: 240px;
            transform: rotate(270deg);
            z-index: 2;
        }
    }
    &__title {
        color: $default;
        padding-top: 75px;
    }
    &__box {
        display: flex;
        justify-content: center;
    }
    &__box-text {
        max-width: 445px;
        color: $default;
        font-size: 16px;
        line-height: 21px;
        margin-right: 30px;
        padding-bottom: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__text {
        margin-bottom: 25px;
    }
}

.geography {
    &__wrapper {
        background: url("../images/vector-fon-2.jpg");
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 80px 0 75px;
    }
    &__title {
        text-align: start;
        line-height: 53px;
        margin-top: 135px;
        margin-right: 125px;
    }
    &__text {
        max-width: 365px;
        font-size: 20px;
        line-height: 25px;
    }
    &__img {
        max-width: 1075px;
    }
}

.values {
    &__inner {
        display: flex;
        margin: 80px 0;
    }
    &__image {
        position: relative;
        height: fit-content;
        &::before {
            content: "COPPER PRO";
            position: absolute;
            font-size: 145px;
            line-height: 108px;
            color: $default;
            @extend %Lighthaus-400;
            text-align: end;
            bottom: 0;
            right: 35px;
            width: 660px;
            z-index: 3;
        }
    }
    &__img {
        max-width: 685px;
        width: 100%;
        object-fit: cover;
        padding-right: 30px;
    }
    &__title {
        max-width: 295px;
        line-height: 53px;
        margin-top: 55px;
        text-align: start;
    }
    &__text {
        max-width: 485px;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 60px;
    }
    &__item {
        max-width: 300px;
        font-size: 25px;
        line-height: 24px;
        font-weight: 600;
        padding-left: 90px;
        margin-bottom: 60px;
        position: relative;
    }
    &__item-1::after {
        content: "";
        position: absolute;
        width: 59px;
        height: 68px;
        top: -25px;
        left: 0;
        background: no-repeat url("../images/icons/values-item-1.svg");
    }
    &__item-2::after {
        content: "";
        position: absolute;
        width: 59px;
        height: 51px;
        top: -5px;
        left: 0;
        background: no-repeat url("../images/icons/values-item-2.svg");
    }
    &__item-3 {
        margin-bottom: 0;
    }
    &__item-3::after {
        content: "";
        position: absolute;
        width: 59px;
        height: 68px;
        top: -30px;
        left: 0;
        background: no-repeat url("../images/icons/values-item-3.svg");
    }
}

// news.html-------------------------------------------

.news {
    &__title {
        padding-top: 25px;
        line-height: 53px;
        text-align: start;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(335px);
        grid-gap: 30px;
        margin-bottom: 45px;
    }
    &__item {
        max-width: 717px;
    }
    &__item-image {
        position: relative;
    }
    &__item-img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 25px;
        transition: all 0.3s;
        &:hover {
            box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
        }
    }
    &__item-title {
        position: absolute;
        bottom: 25px;
        left: 30px;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        color: $default;
    }
    &__item-date {
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px 13px;
        font-size: 18px;
        line-height: 17px;
        @extend %mont_heavydemo-600;
        color: $default;
        background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
    }
    &__item-text {
        max-width: 615px;
        margin-bottom: 20px;
    }
    &__item-link {
        &::after {
            bottom: 2px;
        }
    }
}

// news-detalis.html-------------------------------------------

.news-detalis {
    &__title-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__title {
        max-width: 578px;
        padding-top: 25px;
        line-height: 53px;
        text-align: start;
    }
    &__social {
        display: flex;
        margin-bottom: 50px;
    }
    &__social-bottom {
        display: flex;
    }
    &__share-title {
        font-size: 16px;
        @extend %mont_heavydemo-600;
        text-transform: uppercase;
        margin: 0 50px 10px 0;
    }
    &__share-box {
        display: flex;
    }
    &__share-img {
        max-width: 20px;
        width: 100%;
        opacity: 1;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
    &__share-link {
        margin-right: 18px;
    }
    &__item-image {
        position: relative;
    }
    &__item-img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 45px;
    }
    &__item-date {
        position: absolute;
        top: 15px;
        right: 0;
        padding: 11px 22px;
        font-size: 24px;
        line-height: 23px;
        @extend %mont_heavydemo-600;
        color: $default;
        background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
    }
    &__item {
        border-bottom: solid 1px #e6e8e7;
        margin-bottom: 50px;
    }
    &__item-box1 {
        max-width: 925px;
    }
    &__item-box2 {
        max-width: 1080px;
    }
    &__item-box3 {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__item-text {
        font-size: 16px;
        margin-bottom: 30px;
        color: $text;
    }
    &__item-subtitle {
        font-size: 24px;
        line-height: 31px;
        @extend %mont_heavydemo-600;
        text-transform: uppercase;
        margin: 50px 0 20px 0;
    }
    &__item-paragraph {
        margin-bottom: 10px;
        margin-left: 15px;
        font-weight: 600;
        list-style-type: disc;
        &:last-child {
            margin-bottom: 30px;
        }
    }
    &__prev-link {
        max-width: 350px;
        padding-left: 30px;
        position: relative;
        transition: all 0.3s;
        &:hover {
            color: #4b7159;
            font-weight: 600;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            background: url("../images/icons/pagination-prev2.svg");
        }
    }
    &__next-link {
        padding-right: 30px;
        position: relative;
        transition: all 0.3s;
        &:hover {
            color: #4b7159;
            font-weight: 600;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 18px;
            height: 18px;
            background: url("../images/icons/pagination-next2.svg");
        }
    }
}

// cart.html-------------------------------------------

.cart {
    padding-bottom: 170px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 67% 30%);
        grid-gap: 3%;
    }
    &__title {
        margin-top: 25px;
        line-height: 53px;
        text-align: start;
    }
    &__content {
        margin-bottom: 20px;
    }
    &__content-top {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 50% 25% 25%);
        grid-gap: 0;
    }
    &__content-table {
        font-size: 16px;
        color: #a1a1a1;
        border-bottom: 1px solid #e6e8e7;
        padding-bottom: 20px;
    }
    &__content-item {        
        height: 140px;
        max-height: 100%;
        align-items: center;
        border-bottom: 1px solid #e6e8e7;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 50% 25% 25%);
        grid-gap: 0;
        &:last-child {
            border: none;
            margin-bottom: 0;
        }
    }
    &__content-name {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }
    &__item-img {
        max-width: 90px;
        max-height: 100px;
        object-fit: cover;
        margin-right: 30px;
    }
    &__item-title,
    &__item-status {
        max-width: 265px;
        font-size: 18px;
        line-height: 24px;
        @extend %mont_heavydemo-600;
    }
    &__item-number,
    &__item-price,
    &__item-date {
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
    }
    &__item-price {
        @extend %mont_heavydemo-600;
    }
    &__item-trash {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 18px;
        height: 18px;
        border: none;
        background: url("../images/icons/trash.svg");
        cursor: pointer;
    }
    &__total {
        max-width: 445px;
        max-height: 330px;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: -1px;
            right: 0;
            width: 165px;
            height: 120px;
            z-index: -1;
            background: no-repeat bottom url("../images/icons/cart-total.svg");
        }
    }
    &__total-top {
        border-bottom: 1px solid #e6e8e7;
        padding: 25px 25px 30px 25px;
    }
    &__total-box {
        padding: 25px 25px 40px 25px;
    }
    &__total-text {
        font-size: 35px;
        line-height: 33px;
        margin-bottom: 20px;
    }
    &__total-price {
        font-size: 40px;
        line-height: 38px;
        @extend %mont_heavydemo-600;
    }
    &__total-span {
        max-width: 260px;
        font-size: 16px;
        margin-bottom: 30px;
        font-weight: 600;
        color: #a1a1a1;
        padding-left: 65px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            width: 48px;
            height: 26px;
            background: no-repeat url("../images/icons/delivery.svg");
        }
    }
    &__total-btn {
        max-width: 370px;
        padding: 17px;
        margin: 0 auto;
    }
}

// order.html-------------------------------------------

.header-light {
    height: 146px;
    background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
    &__wrapper {
        background: no-repeat url(../images/vector-fon.png);
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.order {
    &__inner {
        position: relative;
        margin-bottom: 75px;
    }
    &__inner-box {
        display: flex;
        justify-content: space-between;
    }
    &__form-box {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-top: 75px;
    }
    &__link {
        position: absolute;
        top: -15px;
        left: 0;
    }
    &__form-data {
        max-width: 920px;
        display: grid;
        grid-template-columns: repeat(2, 35%);
        grid-gap: 30px;
        margin-bottom: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__data {
        width: 100%;
        max-width: 920px;
        margin-right: 30px;
    }
    &__registration {
        max-width: 920px;
        max-height: 123px;
        background: #e6e8e7;
        display: flex;
        margin-bottom: 40px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 15px;
            right: 15px;
            width: 95px;
            height: 105px;
            background: top url("../images/order-registration.svg");
        }
    }
    &__registration-img {
        min-width: 34px;
        background-color: #fff;
        border-radius: 50%;
        padding: 20px;
        margin: 25px 20px;
    }
    &__registration-box {
        max-width: 302px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    &__registration-question {
        font-size: 18px;
        line-height: 21px;
        @extend %mont_heavydemo-600;
        margin-bottom: 10px;
    }
    &__registration-buttons {
        display: flex;
        align-items: center;
        margin-left: 85px;
    }
    .btn-enter {
        padding: 18px 62px;
        margin-right: 30px;
        z-index: 2;
    }
    .btn-reg {
        padding: 18px 35px;
        margin-right: 30px;
        z-index: 2;
    }
    &__form-title {
        font-size: 27px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 35px;
        padding-left: 55px;
        position: relative;
    }
    .order__data-title,
    .order__delivery-title,
    .order__payment-title {
        &::after {
            content: "";
            position: absolute;
            top: -7px;
            left: 0;
            width: 36px;
            height: 36px;
        }
    }
    &__data-title {
        &::after {
            background: url("../images/icons/order-1.png");
        }
    }
    &__delivery-title {
        &::after {
            background: url("../images/icons/order-2.png");
        }
    }
    &__payment-title {
        &::after {
            background: url("../images/icons/order-3.png");
        }
    }
    &__input-data {
        max-width: 327px;
        height: 50px;
        padding: 16px 0 16px 20px;
        font-size: 18px;
        color: #a1a1a1;
        font-weight: 600;
    }
    &__form-radio {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e6e8e7;
        margin-bottom: 40px;
    }
    .radio-payment {
        border-bottom: none;
    }
    &__input-choice {
        font-size: 20px;
        color: $input;
        @extend %mont_heavydemo-600;
        margin-left: 10px;
        cursor: pointer;
    }
    &__delivery-text {
        max-width: 400px;
        margin-top: 15px;
    }
    &__form-item {
        margin-bottom: 20px;
    }
    &__form-item input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 17px;
        height: 17px;

        border: 2px solid $input;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 5px;

        position: relative;
        top: 2px;
    }

    &__form-item input:checked {
        border: none;
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    }
    &__form-item--active label {
        background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
        @extend %mont_heavydemo-600;
        margin-left: 10px;
    }
    &__checkout {
        max-width: 450px;
    }
    &__checkout-product {
        height: 225px;
        overflow-y: scroll;
        background: linear-gradient(360deg, #f5f5f5 0%, rgba(255, 255, 255, 0) 30%);
    }
    &__checkout-item {
        display: flex;
        padding-right: 20px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__checkout-box {
        z-index: -1;
    }
    &__checkout-box2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__checkout-img {
        margin-right: 30px;
        max-width: 90px;
        max-height: 100px;
        object-fit: cover;
        z-index: -1;
    }
    &__checkout-titel {
        max-width: 240px;
        font-size: 16px;
        margin-bottom: 10px;
        margin-right: 85px;
        @extend %mont_heavydemo-600;
    }
    &__checkout-number {
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
    }
    &__checkout-price {
        font-size: 20px;
        line-height: 26px;
    }
    &__checkout-sale {
        font-size: 14px;
        line-height: 13px;
    }
    ::-webkit-scrollbar {
        width: 10px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
        padding-bottom: 10px;
    }
    ::-webkit-scrollbar-track {
        background: $btn;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(95.42deg, #5e3928 -2.56%, #e4a16f 63.17%);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(150.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    }
    &__checkout-total {
        position: relative;
        padding-bottom: 30px;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
        &::after {
            content: "";
            position: absolute;
            width: 165px;
            height: 115px;
            top: 0;
            right: 0px;
            background: bottom no-repeat url("../images/icons/cart-total.svg");
            z-index: -1;
        }
    }
    &__checkout-form {
        padding-left: 30px;
        margin-bottom: 30px;
    }
    &__checkout-input {
        line-height: 13px;
        padding: 18px 30px 17px 20px;
        color: $input;
        border: 1px solid $input;
        border-right: none;
        margin-top: 40px;
    }
    &__checkout-delivery {
        margin-left: 30px;
    }
    &__checkout-btn {
        display: inline-block;
        padding: 17px 20px 19px;
        border: none;
        margin-left: -5px;
    }
    &__checkout-boxTotal {
        padding-left: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__checkout-text {
        font-size: 35px;
        line-height: 33px;
        margin-bottom: 20px;
    }
    &__checkout-boxPrice {
        display: flex;
        justify-content: space-between;
    }
    &__checkout-priceTotal {
        font-size: 40px;
        line-height: 38px;
        @extend %mont_heavydemo-600;
    }
    &__checkout-promo {
        display: flex;
        flex-direction: column;
        margin-right: 35px;
    }
    &__checkout-promoСode {
        color: $sale;
        @extend %mont_heavydemo-600;
    }
    &__checkout-promoText {
        @extend %mont_heavydemo-600;
    }
    &__checkout-totalBtn {
        max-width: none;
        padding: 17px 115px;
        margin: 0 auto;
        border: none;
    }
}

.footer-light {
    height: 230px;
    background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
    &__wrapper {
        background: url(../images/vector-fon.png);
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo__img {
        margin: 0 auto;
        margin-bottom: 25px;
    }
    &__copyright-text {
        width: 215px;
        text-align: center;
        color: #adadad;
        margin-bottom: 20px;
    }
}

// order-user.html-------------------------------------------

.order-user {
    &__registration-img {
        padding: 0;
    }
    &__btn {
        display: none;
    }
}

// order-user.html-------------------------------------------

.order-thanks {
    &__inner {
        margin: 105px 0 210px;
    }
    &__img {
        max-width: 376px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    &__title {
        line-height: 53px;
        margin-bottom: 40px;
    }
    &__text {
        max-width: 345px;
        font-size: 27px;
        line-height: 26px;
        font-weight: 600;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 35px;
    }
    &__btn {
        max-width: 445px;
        margin: 0 auto;
        text-align: center;
    }
}

// enter.html-------------------------------------------

.enter {
    &__inner {
        margin-bottom: 215px;
    }
    &__btn-back {
        max-width: 327px;
        width: 100%;
        margin: 70px 0 95px;
        padding: 17px 30px;
    }
    &__reg {
        max-width: 445px;
        margin: 0 auto;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
    }
    &__title {
        font-size: 35px;
        line-height: 37px;
        padding: 40px 0 25px;
        margin-bottom: 0;
    }
    &__form {
        margin-bottom: 30px;
        padding: 20px;
    }
    &__input {
        display: block;
        width: 100%;
        max-width: 375px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 17px 20px;
        font-size: 18px;
        font-weight: 600;
        color: $input;
    }
    &__link-pass {
        text-align: center;
        margin-bottom: 30px;
    }
    &__forgot-pass {
        font-size: 18px;
        line-height: 16px;
        font-weight: 600;
        background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid #cb8d62;
        padding-bottom: 3px;
        transition: all 0.3s;
        &:hover {
            font-size: 19px;
            background-position-x: 99%;
            box-shadow: 0px 0px 30px 0px rgba(196, 196, 196, 0.3);
        }
    }
    &__btn {
        max-width: 375px;
        width: 100%;
        padding: 15px 60px;
        margin: 0 auto;
        text-align: center;
        border: none;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        padding: 24px 35px;
        background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
    }
    &__box-text {
        font-size: 18px;
        line-height: 17px;
        font-weight: 600;
        color: $default;
    }
    &__box-reg {
        font-size: 18px;
        line-height: 17px;
        @extend %mont_heavydemo-600;
        color: $default;
        background: linear-gradient(90deg, #ffffff 50%, #cb8d62 75%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.5s;
        background-size: 300%;
        &:hover {
            background-position-x: 100%;
        }
    }
}

// profile.html-------------------------------------------

.profile {
    &__inner {
        display: flex;
    }
    &__title {
        text-align: start;
        padding-top: 70px;
        margin-bottom: 40px;
    }
    &__filter-btn {
        display: flex;
        flex-direction: column;
    }
    .profile__btn {
        max-width: 325px;
        width: 100%;
        height: 50px;
        font-size: 18px;
        line-height: 17px;
        color: $default;
        @extend %mont_heavydemo-600;
        text-align: start;
        margin: 0 150px 30px 0;
        padding-left: 65px;
        background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
        position: relative;
        border: none;
        cursor: pointer;
        background-size: 150%;
        transition: all 0.5s;
    }
    .profile__btn:hover {
        background-position-x: 99%;
    }
    .mixitup-control-active {
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    }
    .profile__btn-profile,
    .profile__btn-order,
    .profile__btn-like {
        &::after {
            content: "";
            position: absolute;
            top: 12px;
            left: 25px;
        }
    }
    &__btn-profile {
        &::after {
            width: 18px;
            height: 25px;
            background: no-repeat url("../images/icons/user-2.svg");
        }
    }
    &__btn-order {
        &::after {
            width: 25px;
            height: 27px;
            background: no-repeat url("../images/icons/shopping-cart-2.svg");
        }
    }
    &__btn-like {
        &::after {
            width: 24px;
            height: 25px;
            background: no-repeat url("../images/icons/like-2.svg");
        }
    }
    &__btn-exit {
        max-width: 95px;
        border: none;
        align-items: center;
        background: no-repeat url("../images/icons/exit.png");
        cursor: pointer;
        transition: all 0.3s;
        opacity: 1;
        &:hover {
            opacity: 0.5;
        }
    }
    &__box-user {
        display: flex;
        align-items: center;
        width: 685px;
        margin-bottom: 40px;
    }
    &__user-img {
        width: 100%;
        max-width: 160px;
        max-height: 160px;
        border-radius: 50%;
        margin-right: 20px;
    }
    &__user-input {
        width: 40px;
        opacity: 0;
    }

    &__user-span {
        font-size: 14px;
        line-height: 13px;
        font-weight: 600;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: -30px;
            width: 16px;
            height: 16px;
            background: url("../images/icons/load.svg");
            pointer-events: none;
            cursor: pointer;
        }
    }
    &__user-span2 {
        color: $input;
    }
    &__user-text {
        font-weight: 600;
        margin-bottom: 27px;
    }
    &__user-name,
    .profile__pass-title {
        font-size: 27px;
        line-height: 26px;
        @extend %mont_heavydemo-600;
        margin-bottom: 27px;
    }
    &__box-data {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__box-pass {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__pass-btn {
        width: 100%;
        height: 50px;
        display: inline-block;
        padding: 14px 100px 13px 21px;
        background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
        margin-left: 29px;
        background-size: 150%;
        &:hover {
            background-position-x: 99%;
        }
    }
    &__box-pay {
        margin-bottom: 40px;
    }
    &__form-btn {
        padding: 17px 112px;
        height: 50px;
        margin-bottom: 80px;
    }
    &__item-cart {
        width: 1040px;
        display: grid;
        grid-template-columns: repeat(5, 40% 15% 15% 15% 15%);
        grid-gap: 0;
        margin-bottom: 30px;
    }
    &__item-product {
        max-width: 315px;
        height: 465px;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    &__item-content {
        display: block;
    }
    &__item-name {
        margin-bottom: 20px;
    }
    &__item-productBox {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 30px;
    }
    .input-pay {
        max-width: 150px;
        margin-left: 26px;
        font-size: 18px;
    }
    .item-product__img {
        min-width: auto;
        min-height: auto;
    }
    .item-price {
        text-align: start;
        margin-bottom: 30px;
    }
    .status-sent {
        color: #029281;
    }
    .status-received {
        color: #025e92;
    }
    .status-expected {
        color: #7e9202;
    }
    .status-rejected {
        color: #920202;
    }
}

// profile.html-------------------------------------------

.catalog {
    &__title {
        padding-top: 25px;
        line-height: 53px;
        text-align: start;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        margin-bottom: 55px;
    }
    &__item {
        margin: 0 30px 30px 0;
    }
}

// card-product.html-------------------------------------------

.card-product {
    &__about {
        font-size: 40px;
        text-align: start;
        margin-bottom: 0;
    }
    &__inner {
        margin-top: 20px;
    }
    &__top-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
        margin-bottom: 75px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__content-title {
        max-width: 650px;
        font-size: 40px;
        line-height: 42px;
        text-align: start;
    }
    &__content-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__content-availability {
        font-size: 16px;
        @extend %mont_heavydemo-600;
        color: #4b7159;
        padding-left: 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 13px;
            height: 10px;
            background: url("../images/icons/v.png");
        }
    }
    &__content-description {
        padding-bottom: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__content-code,
    &__content-text {
        max-width: 530px;
        font-size: 16px;
    }
    &__span-code,
    &__content-subtitle {
        font-size: 16px;
        @extend %mont_heavydemo-600;
        margin-bottom: 15px;
    }
    &__price-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__price-text {
        font-size: 35px;
        line-height: 33px;
        font-weight: 600;
    }
    &__price-subbox {
        display: flex;
        align-items: center;
    }
    &__price {
        font-size: 45px;
        line-height: 43px;
        @extend %mont_heavydemo-600;
        margin-right: 30px;
    }
    &__sale {
        font-size: 25px;
        line-height: 24px;
    }
    &__content-form {
        display: flex;
        justify-content: space-between;
        padding-bottom: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #e6e8e7;
    }
    &__content-btn {
        max-width: 446px;
        width: 100%;
        height: 50px;
    }
    &__content-social {
        display: flex;
    }
    &__content-subtitle {
        margin-right: 50px;
    }
    &__social-img {
        margin-right: 18px;
    }

    &__description-box {
        border-bottom: 1px solid #e6e8e7;
        padding-bottom: 70px;
        margin-bottom: 75px;
    }
    &__description-title {
        font-size: 40px;
        text-align: start;
        margin-bottom: 30px;
    }
    &__description-text {
        font-size: 16px;
        margin-bottom: 20px;
    }
}
.product-slide {
    position: relative;
    display: flex;
    align-items: center;
    &__thumb {
        width: 90px;
        margin-right: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 70px;
            background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 70px;
            background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    &__thumb-item {
        width: 90px;
        height: 100px;
        margin-bottom: 20px;
        cursor: pointer;
        img {
            width: 90px;
            height: 100px;
            object-fit: cover;
        }
    }
    &__big {
        width: 565px;
        img {
            width: 565px;
            height: 626px;
            object-fit: cover;
        }
    }
    &__thumb-btnPrev {
        position: absolute;
        top: 0;
        left: 30px;
        width: 34px;
        height: 27px;
        border: none;
        background: no-repeat url("../images/icons/product-slide-btnNext.png");
    }
    &__thumb-btnNext {
        position: absolute;
        bottom: 5px;
        left: 30px;
        width: 34px;
        height: 27px;
        border: none;
        background: no-repeat url("../images/icons/product-slide-btnPrev.png");
    }
}

// contacts.html-------------------------------------------

.contact {
    &__top {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    &__top-item {
        width: 375px;
        text-align: center;
        margin-right: 30px;
        border: 3px solid transparent;
        padding: 70px 30px 75px;
        transition: all 0.5s;
    }
    &__top-item:hover {
        border: 3px solid $span;
        padding: 70px 30px 75px;
        .contact__top-img {
            background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
            path {
                fill: rgb(255, 255, 255);
            }
        }
    }
    &__top-img {
        width: 80px;
        height: 80px;
        margin-bottom: 65px;
        border: 1px solid transparent;
        border-radius: 20px;
        background-color: #fff;
        padding: 16px 20px;
        box-shadow: 0px 0px 50px 10px rgba(202, 202, 202, 0.6);
    }
    &__top-address {
        padding: 16px 23px;
    }
    &__top-title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    &__top-text {
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        color: $text;
        transition: all 0.3s;
        &:hover {
            font-size: 18px;
            background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__form {
        display: flex;
        justify-content: center;
        margin-bottom: 75px;
        map {
            max-width: 500px;
            max-height: 335px;
            margin-bottom: 30px;
        }
    }
    &__form-box {
        margin-bottom: 45px;
    }
    &__textbox {
        display: flex;
    }
    &__input {
        width: 300px;
        height: 50px;
        font-size: 18px;
        color: #a1a1a1;
        font-weight: 600;
        margin-right: 25px;
        margin-bottom: 25px;
        padding: 25px 20px;
        padding-right: 40px;
    }
    &__textarea {
        width: 625px;
        height: 175px;
        font-size: 18px;
        color: #a1a1a1;
        font-weight: 600;
        margin-bottom: 30px;
        padding: 25px 20px;
        padding-right: 40px;
        resize: none;
    }
    &__input-name {
        position: relative;
    }
    &__input-name::before {
        content: "";
        position: absolute;
        background-image: url(../images/icons/form-name.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
        top: 17px;
        right: 40px;
        z-index: 2;
    }
    &__input-mail {
        position: relative;
    }
    &__input-mail::before {
        content: "";
        position: absolute;
        background-image: url(../images/icons/form-email.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 22px;
        height: 15px;
        top: 18px;
        right: 40px;
        z-index: 2;
    }
    &__textarea-wraper {
        position: relative;
    }
    &__textarea-wraper::before {
        content: "";
        position: absolute;
        background-image: url(../images/icons/form-textarea.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 16px;
        top: 22px;
        right: 40px;
        z-index: 2;
    }

    &__btn {
        padding: 15px 100px;
    }
}

@import "media";
